<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Title</title>
</head>
<body>

<div th:replace="~{head::header}"></div>

<main class="container">
    <section class="row mt-4">
        <div class="col mt-5 mb-5">
            <div layout:fragment="content"></div>
        </div>
    </section>
</main>
<footer class="row">
    <div class="col">
        <div th:replace="~{footer::footer}"></div>
    </div>
</footer>
</body>
</html>
